body {
  background-color: white;
}
.UserDetail {
  padding-top: 53px;
  width: 100%;
  padding-bottom: 30px;
}
.user__container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
  width: 100%;
}
.userDetailInformation__container {
  /* margin-top: 20px; */
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(47, 47, 47, 0.233);
}
.userDetailInformation__container > :nth-child(1) {
  flex: 1 1;
}
.userDetailInformation__container > :nth-child(2) {
  flex: 2 1;
}
.userIn4Avatar__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userIn4__avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.userIn4Detail__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
}

.userIn4Username__container {
  display: flex;
  align-items: center;
}
.userIn4__followContainer--ownerPage {
  display: none;
  visibility: hidden;
}
.userIn4__followContainer--notFollowed {
  background-color: #ff6347;
}
.userIn4__followContainer--followed {
  background-color: white;
  color: black;
  /* box-shadow: ; */
  border: 1px solid rgba(47, 47, 47, 0.2);
  box-shadow: 0 0 2px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
}
.userIn4__followContainer {
  cursor: pointer;
  width: auto;
  height: 100%;
  padding: 0 7px 0 7px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userIn4Username__container > span {
  margin: 0;
}
.userIn4__username {
  font-weight: 600;
  font-size: 1.7rem;
}

.userIn4Count__container {
  display: flex;
}
.userIn4Count__container > * {
  margin-right: 40px;
}
.userIn4Count__span--bold {
  font-weight: 600;
}

.userPost__container {
  /* height: 100%; */
  width: 100%;
}
.up__suContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.userPost__descriptionContainer {
  width: fit-content;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
.userPost__descriptionHeader {
  font-size: 1.2rem;
  width: auto;
  font-weight: 500;
}

.ppImg__container {
  height: auto;
  width: auto;
}
.pp__img {
  width: 19vw;
  height: 19vw;
  object-fit: cover;
}
.PostPreview {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.PP__hoverContainer {
  width: auto;
  height: auto;
}
.PP__hoverContainer:hover {
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.PostPreview__container {
  width: auto;
  height: auto;
}
.PostPreview__suContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.PostPreview__suContainer > * {
  margin-top: 1vw;
}
