.User {
  margin-top: 30px;
}
.userInformation__container {
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin-bottom: 15px;
}
.userInformation__avatar {
  width: 80px;
  border: 4px solid chocolate;
  border-radius: 50%;
}
.userInformation__description {
  display: flex;
  flex-flow: column;
}
.userInformation__userName {
  font-weight: bold;
}
.userInformation__userName:hover {
  cursor: pointer;
}
.userInformation__name {
  color: rgba(5, 5, 5, 0.6);
}
.userInformationCount__container {
  display: flex;
  justify-content: space-around;
}
.userInformationCount__container > div {
  display: flex;
  flex-flow: column;
}
.userInformationCount__count {
  font-weight: bold;
}
.userInformationCount__description {
  font-weight: 300;
}
