html,
body,
#root {
  margin: 0px;
  height: 100%;
}
.App {
  margin: 0px;
  height: 100%;
}
#body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
#header-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
#header-field > a {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-size: 1rem;
  text-decoration: none;
  color: #de7baf;
}
#header-field > a:hover {
  cursor: pointer;
}
#header-field:active {
  text-decoration: none;
}
#login-field {
  flex: 1 1 90%;
  background-image: url(./images/signup-bg.webp);
  /* background-position: bottom; */
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
}
#login-input-field {
  margin-left: 10vw;
  width: 450px;
  height: 650px;
  border-radius: 30px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.87);
  gap: 20px;
}
#login-input-field > div {
  margin: 0 20px 0 20px;
}
.credential-input {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.credential-input-label-container {
  font-size: 1rem;
  color: #898989;
  display: flex;
  justify-content: flex-start;
}
.forgot-password-container {
  display: flex;
  justify-content: space-between;
}
.forgot-password-container > a {
  text-decoration: none;
}
.credential-input > input {
  border: none;
  padding-left: 25px;
  font-size: 1.1rem;
  font-weight: 450;
  box-sizing: border-box;
}
.credential-input > input:focus {
  outline: none;
  border: solid rgba(82, 85, 248, 0.87) 2px;
}
.other-method-sign-in {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.other-method-sign-in > span {
  padding: 0;
  box-shadow: none;
  font-size: 1rem;
  font-weight: 520;
  color: #fffbfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-method-sign-in > span > span {
}
.gg-sign-in {
  flex: 1 1 65%;
  background-color: #3f7bf0;
  background: linear-gradient(to left, #3f7bf0 50%, #1f1f20 50%) right;
  background-size: 200%;
  transition: all 0.4s ease-out;
}
.fb-sign-in {
  width: 64px;
  /* flex: 1 1 25%; */
  color: #ec4989 !important;
  background-color: #fbd4fb;
  background: linear-gradient(to left, #fbd4fb 50%, #1f1f20 50%) right;
  background-size: 200%;
  transition: all 0.3s ease-out;
}
.fb-sign-in:hover {
  color: #fffbfc !important;
}
.same-height-element-1 {
  height: 64px;
  border-radius: 12px;
}
.signin__button--default {
  font-size: 1.1rem;
  color: #fefcfd;
  font-weight: 500;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in-button--disabled {
  background-color: #666666 !important;
  cursor: auto;
}
#sign-in-button--enabled {
  background-color: #1f1f20;
  background: linear-gradient(to left, #1f1f20 50%, #da4b84 50%) right;
  background-size: 200%;
  transition: all 0.35s ease-out;
}
.input-field-button:hover {
  cursor: pointer;
  background-position: left;
}
#sign-in-button--enabled:hover {
  background-position: left;
}
/* #sign-in-button:hover:after {
  width: 100%;
  border-radius: 12px;
} */
/* TODO: add onClick style (:active) stuff =)) */

.login__error {
  font-size: 0.9rem;
  text-align: center;
  color: rgba(251, 27, 76, 0.87);
}
