* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0px;
  height: 100%;
  color: #262626;
}
.App {
  margin: 0px;
  height: 100%;
}
#body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
.Message {
  background-color: #ffffff;
  width: auto;
  height: 100%;
}
.messageBody__container {
  padding-top: 73px;
  height: 100vh;
  padding-bottom: 20px;
  margin-left: 20%;
  width: 59.7vw;
  display: flex;
}
.messageBody__container > :nth-child(1) {
  /* border: 1px solid black; */
  flex: 1 1 30%;
}
.messageBody__container > :nth-child(2) {
  /* border: 1px solid black; */
  flex: 1 1 70%;
}

.friendList__container {
  /* height: calc(100vh - 53px); */
  height: auto;
  border-left: 1px solid rgba(47, 47, 47, 0.233);
  border-bottom: 1px solid rgba(47, 47, 47, 0.233);
  border-top: 1px solid rgba(47, 47, 47, 0.233);
}
.friendList__userNameContainer {
  height: 60px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(47, 47, 47, 0.233);
}
.friendList__userName {
  font-weight: bold;
}
.friendList__listContainer {
  height: calc(100% - 60px);
}
.friendList__descriptionContainer {
  /* border: 1px solid black; */
  width: 100%;
  text-align: left;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.friendList__description {
  margin-left: 20px;
  font-weight: bold;
  color: #262626;
}
.friendList__lists {
  margin-bottom: 20px;
  height: calc(100% - 40px);
  overflow-y: auto;
}
.friendList__ul {
  margin: 0;
  padding-left: 0;
  height: calc(100% - 40px);
}
.friendList__ul > * {
  height: 56px;
  padding: 8px 20px 8px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.FriendInformation {
  display: flex;
  align-items: center;
}
.FriendInformation__avatar {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}
.FriendInformation__name {
  font-weight: bold;
}

.message__container {
  height: auto;
  border: 1px solid rgba(47, 47, 47, 0.233);
}
.receiverIn4__container {
  height: 60px;
  border-bottom: 1px solid rgba(47, 47, 47, 0.233);
}
.receiverIn4__container > div {
  height: 100%;
  padding-left: 36px;
  background-color: #ffffff !important;
}
.receiverIn4__container > div > div > span {
  font-weight: bold;
}

.receiverIn4__container > div > div > img {
  width: 24px !important;
  height: 24px !important;
}

.newMessage__section {
  height: 84px;
  /* border: 1px solid black; */
  padding: 20px;
}
.newMessage__container {
  min-height: 44px;
  width: 100%;
  border: 1px solid rgba(47, 47, 47, 0.5);
  border-radius: 20px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f6f5f4; */
}
.newMessage__textarea {
  resize: none;
  width: 100%;
  border: none;
  height: 22px;
  font-family: inherit;
  font-size: 1rem;
}
.newMessage__textarea::-webkit-scrollbar {
  display: none;
}
.newMessage__container > textarea:focus {
  outline: none;
}

.newMessage__submit {
  font-weight: bold;
}
.newMessage__submit--enabled {
  cursor: pointer;
  color: #ff5132;
}
.newMessage__submit--disabled {
  color: #f8816c;
  /* color: black; */
}
.messageContent__section {
  height: calc(100% - 144px);
  /* background-color: blanchedalmond; */
  padding: 20px;
  overflow-y: auto;
}

.messageContent__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.messageContent__ul > li {
  width: 100%;
  display: flex;
}
.incoming {
  justify-content: flex-start;
}
.incomingChat__container {
  background-color: #ffffff;
}
.outgoingChat__container {
  background-color: #efefef;
}
.outgoing {
  justify-content: flex-end;
}
.chat__container {
  padding: 16px;
  width: auto;
  max-width: 45%;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  border-radius: 22px;
  text-align: left;
  word-break: break-all;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  margin-bottom: 10px;
}

.currentFriend__container--active {
  background-color: #efefef;
}
.friendList--realShit {
  cursor: pointer;
}

/* If no current chat log avail then disable new message  */
.newMessage__section--disabled {
  display: none;
}
/* Empty chat box style */
.emptyChatBox__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newChatIcon {
  font-size: 55px;
  color: #df5a43;
}
.newChatDescription__container {
  font-weight: 300;
}
