html,
body,
#root {
  margin: 0px;
  height: 100%;
}
#body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: flex-start; */
}
/* #nav-bar {
  flex: 1 1 10%;
} */
#header-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-field > h1 {
  /* flex-wrap: nowrap; */
  flex: 1 1 70%;
}
#header-field > a {
  text-align: right;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  font-size: 1rem;
  text-decoration: none;
}
#header-field:active {
  text-decoration: none;
}
#sign-up-field {
  flex: 1 1 90%;
  background-image: url(./images/login-bg.webp);
  /* background-position: bottom; */
  background-size: cover;
  display: flex;
  align-items: center;
}
#input-field {
  margin-left: 10vw;
  width: 450px;
  height: 750px;
  border-radius: 30px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.87);
  gap: 20px;
}
#input-field > div {
  margin: 0 20px 0 20px;
}
.credential-input {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.credential-input-label-container {
  font-size: 0.7rem;
  color: #898989;
}
.forgot-password-container {
  display: flex;
  justify-content: space-between;
}
.forgot-password-container > a {
  text-decoration: none;
}
.credential-input > input {
  border: none;
  padding-left: 25px;
  font-size: 1.1rem;
  font-weight: 450;
  box-sizing: border-box;
}
.credential-input > input:focus {
  outline: none;
  border: solid rgba(82, 85, 248, 0.87) 2px;
}
.other-method-sign-up {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.other-method-sign-up > span {
  padding: 0;
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 520;
  color: #fffbfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-method-sign-up > span > span {
}
.gg-sign-up {
  flex: 1 1 65%;
  background-color: #3f7bf0;
  background: linear-gradient(to left, #3f7bf0 50%, #1f1f20 50%) right;
  background-size: 200%;
  transition: all 0.4s ease-out;
}
.fb-sign-up {
  width: 64px;
  /* flex: 1 1 25%; */
  color: #ec4989 !important;
  background-color: #fbd4fb;
  background: linear-gradient(to left, #fbd4fb 50%, #1f1f20 50%) right;
  background-size: 200%;
  transition: all 0.3s ease-out;
}
.fb-sign-up:hover {
  color: #fffbfc !important;
}
.same-height-element-1 {
  height: 60px;
  border-radius: 12px;
}
#sign-up-button {
  background-color: #1f1f20;
  font-size: 1.1rem;
  color: #fefcfd;
  font-weight: 500;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #1f1f20 50%, #da4b84 50%) right;
  background-size: 200%;
  transition: all 0.35s ease-out;
}
.input-field-button:hover {
  cursor: pointer;
  background-position: left;
}
#sign-up-button:hover {
  background-position: left;
}
/* #sign-in-button:hover:after {
  width: 100%;
  border-radius: 12px;
} */
/* TODO: add onClick style (:active) stuff =)) */
