.SinglePostPage {
  background-color: #ffffff;
  width: auto;
  height: 100%;
  /* height: auto; */
}
.SinglePostBody__container {
  padding-top: 73px;
  height: calc(100% - 93px);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.spp__overlay--enabled {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
}
